* {
  margin: 0;
  padding: 0px;
}

.accountfooter {
  color: grey;
  background-color: #eeeeee;
  padding: 20px;
}

.accountfooter li {
  list-style-type: none;
}

.accountfooter a {
  text-decoration: none;
}

.accountfooter a:hover {
  text-decoration: underline;
}

.accountfooter ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.accountfooter .footerLinks {
  max-width: 270px;
  text-wrap: nowrap;
  margin: auto;
  border-bottom: none;
  text-align: center;
  padding-bottom: 10px;
}

.accountfooter .footerLinks a {
  color: gray;
}

.accountfooter .footerText {
  max-width: 500px;
  margin: auto;
  border-bottom: none;
  text-align: center;
}
