.footerContainer {
  margin: 0;
  padding: 0;
}

.footerContainer li {
  list-style-type: none;
}

.footerContainer a {
  text-decoration: none;
  color: gray;
}

.footerContainer a:hover {
  text-decoration: underline;
  color: gray;
}

.footerContainer {
  background-color: #eeeeee;
  margin: 0;
  padding: 30px;
}

.footerContainer .footerGroupOne {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 40px;
  border-bottom: 1px solid #333;
}

.footerContainer .footerGroupOne h4 {
  font-size: 15px;
  color: #303030;
  font-weight: 400;
}

.footerContainer .footerGroupOne h4 {
  font-size: 20px;
  color: #303030;
  font-weight: 400;
}

.footerContainer .footerGroupOne p {
  font-size: 15px;
  color: #303030;
}

.footerContainer .footerGroupOne input {
  border: 1px solid gray;
  border-right: none;
  border-radius: 0;
  width: 200px;
  padding: 7px 10px;
}

.footerContainer .footerGroupOne button {
  border: 1px solid gray;
  border-left: none;
  padding: 6px;
  padding-bottom: 7px;
  border-radius: 0;
}

.footerContainer .footerGroupOne > div {
  width: 33.33%;
  margin-right: 5px;
  gap: 20px;
}

.footerContainer .footerGroupOne > div:nth-child(1) {
  width: 25%;
}

.footerContainer .footerGroupOne > div:nth-child(2) {
  width: 30%;
  margin-left: -20px;
  margin-right: 30px;
}

.footerContainer .footerGroupOne > div:nth-child(3) {
  width: 30%;
  margin-right: 30px;
}

.footerContainer .footerGroupOne > div:nth-child(4) {
  width: 33.33%;
  margin-right: -150px;
}

.footerContainer .footerGroupOne > div:nth-child(5) {
  width: 33.33%;
  margin-right: -29px;
}

.footerContainer .media {
  display: flex;
  cursor: pointer;
}

.footerContainer .footerLinks {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(172, 172, 172);
}

.footerContainer .footerLinks h4 {
  font-size: 20px;
  margin-left: 25px;
  cursor: pointer;
}

.footerContainer .footerLinks h4:hover {
  text-decoration: underline;
}

.footerContainer .footerLinks li {
  font-size: 15px;
  line-height: 2.5;
}

.footerContainer .footerGroupTwo {
  padding-top: 20px;
}

.footerContainer .footerLinksTwo {
  max-width: 1000px;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

.ccpa {
  width: 20%;
}

.footerContainer .footerLinksTwo ul {
  font-size: 14px;
  display: flex;
  text-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.footerContainer .footerLastSection {
  color: gray;
  text-align: center;
}

.footerContainer .question {
  background-color: #0060a9;
  color: #fff;
  padding: 5px;
  border-radius: 70%;
  margin: 2px;
  font-size: 12px;
}

.footerContainer .gobtn {
  background-color: #0060a9;
  color: #fff;
  padding: 8px !important;
  border: none !important;
}

.footerContainer .footerSearch {
  font-size: 13px;
}

.footerContainer .mediaContainer img {
  width: 10%;
  padding-left: 6px;
}

.footerContainer .footerLogo img {
  width: 10%;
  margin-left: 10px;
  cursor: pointer;
}

.footerLinksTwo img {
  width: 23%;
  padding-right: 10px;
}
