li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.footerContainer {
  background-color: #eeeeee;
  margin: 0;
  padding: 30px;
}

.footerGroupOne {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #333;
}

.footerGroupOne h3 {
  font-size: 20px;
  color: #303030;
}

.footerGroupOne p {
  font-size: 15px;
  color: #303030;
}

.media {
  display: flex;
  padding-left: 10px;
}

.footerLinks {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footerLinks h3 {
  font-size: 20px;
}

.footerLinks li {
  font-size: 13px;
}
