.bonusdiv {
  max-width: 1300px;
  margin: auto;
  background-color: #fafafa;
}

.bonusContainer {
  border: 1px solid #b5b5b5;
  padding: 20px;
}

.bonusContainer img {
  width: 27%;
}

.bonusContainer > div {
  display: flex;
}

.bonusLogoSection {
  width: 48%;
  /* border-right: 1px solid #dadada; */
  display: flex;
  color: #333333;
  padding-top: 30px;
}

.bonusLogo1 {
  display: block;
  margin-top: -70px;
  margin-left: 10px;
}

.bonusLogo1 img {
  width: 40%;
}

.bonusLogo1 img:first-of-type {
  margin-left: 220px;
}

.bonusLogo1 img:last-of-type {
  width: 20%;
  margin-top: -30px;
  position: absolute;
}

.bonusLogo2 {
  display: block;
  border-right: 1px solid #dadada;
  margin-left: 100px;
  height: 90px;
  margin-top: -20px;
}

.bonusLogo2 h1 {
  margin-top: -10px;
  margin-bottom: 0px;
}

.bonusLogo2 img {
  display: block;
  width: 70px;
  margin-left: 140px;
}

.bonusLogo2 img:last-of-type {
  margin-top: -5px;
  margin-left: 155px;
}

.bonusLogo2 > img {
  margin-top: -30px;
}

.bonusTextSection {
  padding-left: 25px;
}

.bonusTextSection p {
  font-size: 17px;
  margin-bottom: 0;
}

.bonusTextSection p:first-of-type {
  font-weight: 400;
  font-size: 25px;
}

.bonusTextSection h3 {
  padding-top: 5px;
}

.bonusdiv h6 {
  background-color: #333333;
  font-size: 13px;
  color: #fefefe;
  text-align: center;
  padding: 13px;
  margin-bottom: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
