.bonusdiv {
  max-width: 1300px;
  margin: auto;
  background-color: #fafafa;
  margin-bottom: 20px;
}

.bonusContainer {
  border: 1px solid #b5b5b5;
}

.bonusTextContainer {
  padding: 20px;
}

.bonusContainer img {
  width: 27%;
}

.bonusContainer > div {
  display: flex;
}

.bonusLogoSection {
  width: 48%;
  /* border-right: 1px solid #dadada; */
  display: flex;
  color: #333333;
  padding-top: 30px;
}

.bonusLogo1 {
  display: block;
  margin-top: -70px;
  margin-left: 10px;
}

.bonusLogo1 img {
  width: 40%;
}

.bonusLogo1 img:first-of-type {
  margin-left: 220px;
}

.bonusLogo1 img:last-of-type {
  width: 20%;
  margin-top: -30px;
  position: absolute;
}

.bonusLogo2 {
  display: block;
  border-right: 1px solid #dadada;
  margin-left: 100px;
  height: 90px;
  margin-top: -20px;
}

.bonusLogo2 h1 {
  margin-top: -10px;
  margin-bottom: 0px;
}

.bonusLogo2 img {
  display: block;
  width: 70px;
  margin-left: 140px;
}

.bonusLogo2 img:last-of-type {
  margin-top: -5px;
  margin-left: 155px;
}

.bonusLogo2 > img {
  margin-top: -30px;
}

.bonusTextSection {
  padding-left: 25px;
  padding-bottom: 30px;
}

.bonusTextSection p {
  font-size: 17px;
  margin-bottom: 0;
}

.bonusTextSection p:first-of-type {
  font-weight: 400;
  font-size: 25px;
}

.bonusTextSection h3 {
  padding-top: 5px;
}

.bonusCardContainer h1 {
  background-color: #005ba3;
  color: #fafafa;
  font-size: 25px;
  padding: 5px;
  height: 65px;
  margin-bottom: 0;
  padding-right: 0;
  padding-left: 25px;
}
.bonusCardContainer span {
  margin-top: -10px;
}

.bonusCardContainer span img {
  margin-top: -18px;
  width: 32%;
  border-radius: 50%;
  padding-right: 7px;
  z-index: 999;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.4));
  transition: transform 0.9s;
}

.bonusCardContainer:hover span img {
  transform: scale(1.1);
}

.bonusCardContainer > div {
  margin-bottom: 0;
}

.bonusCardContainerImg {
  width: 100%;
  height: 280px;
}

.bonusCardContainerImg img {
  width: 100%;
}

.bonusCardContainerImg2 img {
  width: 100%;
  height: 280px;
}

.bonusdiv h6 {
  background-color: #333333;
  font-size: 13px;
  color: #fefefe;
  text-align: center;
  padding: 13px;
  margin-bottom: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.LGTVsContainer {
  max-width: 1700px;
  margin: auto;
  padding-left: 50px;
}

.LGTVs {
  display: flex;
  width: 100%;
}

.LGTVsGroup1 {
  padding-right: 30px;
}

.LGTVsGroup1 h3 {
  background-color: #ea1917;
  color: #fafafa;
  text-align: center;
  padding: 9px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.LGTVsGroup1 img {
  border-radius: 10px;
}

.LGTVsGroup1 button {
  background-color: #ea1917;
  color: #fafafa;
  text-align: center;
  padding: 6px;
  border-radius: 10px;
  width: 40%;
  border: none;
  margin-top: 15px;
  font-weight: 500;
  margin-left: 160px;
}

.LGTVsGroup2 {
  display: flex;
  flex-wrap: wrap;
}

.LGTVsGroup2 img {
  margin-bottom: 5px;
  margin-right: 5px;
  width: 100%;
}

.LGTVsimg1 {
  padding-left: 3px;
  padding-right: 3px;
}

.advert {
  display: flex;
  width: 100%;
}

.advertSec1 {
  padding-right: 30px;
  width: 30%;
}

.advertSec2 {
  width: 75%;
}

.advertSec2 h1 {
  background-color: #0060a9;
  color: #fefefe;
  padding: 10px;
  border-top: 8px;
  text-align: center;
}

.advertSec2 .advertSec2lastP {
  background-color: #595959;
  color: #fefefe;
  padding: 8px;
  font-size: 10px;
  border-bottom: 8px;
  text-align: center;
}

.advertSec1 td {
  font-size: 20px;
  font-weight: 600;
  background-color: #f2f2f2 !important;
}

.GiWashingMachine,
.IoBedOutline,
.GiFlatTire,
.PiTelevisionSimpleLight,
.GiLaptop,
.GiBigDiamondRing,
.PiCarProfileLight,
.FaGasPump {
  font-size: 30px !important;
}

/* .advertSec1 td:hover {
  color: #dadada;
  background-color: #005ba3 !important;
} */

.custom-table {
  width: 100%;
  border-collapse: collapse;
}

.custom-table td,
.custom-table th {
  border: 1px solid #bbbbbb;
  padding: 8px;
  border-top-right-radius: 10px;
}

.custom-table tr:hover td {
  color: #dadada;
  background-color: #005ba3;
  border: none;
}

.advertSec2group {
  display: flex;
  margin-top: 5px;
}

.advertSec2text {
  width: 40%;
  padding-right: 10px;
  padding-left: 15px;
}

.advertSec2text h3 {
  font-size: 20px;
  font-weight: 600;
}

.advertSec2Img {
  width: 55%;
  margin-top: -8px;
}

.advertSec2Img img {
  width: 100%;
}

.additionalValuesDiv > div {
  display: flex;
  padding: 5px;
}

.additionalValuesDiv > div p {
  border-bottom: 1px solid #dadada;
  padding: 8px;
  width: 100%;
  font-size: 17px;
}

.IoIosHammer,
.TbTruckDelivery,
.FaAward,
.GiScrew,
.BiSolidDollarCircle,
.TbTruckDelivery,
.FaStar {
  font-size: 30px;
}

.additionalValuesDiv span:nth-child(1) {
  padding-left: 8px;
}

.advertSec2text button {
  width: 60%;
  font-size: 18px;
  font-weight: 600;
  padding: 9px;
  color: #f2f2f2;
  border: none;
  background-color: #086dbb;
  border-radius: 8px;
  margin-left: 90px;
  margin-top: 9px;
}

.advertSec2text button:hover {
  background-color: #0060a9;
}

.cardCarouselSec h2 {
  font-size: 30px;
  padding-top: 10px;
  margin: 0;
  text-align: center;
}

.cardSec2 {
  max-width: 1300px;
  margin: auto;
  display: flex;
  width: 100%;
  padding-top: 20px;
  border: none;
}

.cardSec2 > div {
  width: 50%;
}

.cardSec2 > div:last-of-type {
  margin-left: 10px;
}

.cardSec2 img {
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.hero2 {
  max-width: 1270px;
  margin: auto;
  padding-top: 50px;
}

.heroMain2 img {
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  margin-top: 0;
}

.threeCard {
  max-width: 1300px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  padding-top: 20px;
  border: none;
}

.threeCard > div {
  width: 32%;
}

.threeCard img {
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}
