.navbarContainer {
  margin: 0;
  padding: 0;
}

.navbarContainer h3:first-of-type {
  margin: 0;
}

.navbarContainer a {
  text-decoration: none;
}

.navbarContainer a:hover {
  text-decoration: underline;
}

.navbarContainer li {
  list-style-type: none;
}

.navbarContainer h3 {
  background-color: #005dab;
  text-align: center;
  padding: 15px;
}

.navbarContainer h3 a {
  color: #fefefe;
  font-weight: 600;
  font-size: 20px;
}

.navbarContainer .navLinks {
  background-color: #eeeeee;
  padding: 13px;
  padding-right: 45px;
}

.navbarContainer .navLinks a {
  color: #0060a9;
}

.navbarContainer .navLinksFirstGroup {
  padding-left: 300px;
  padding-bottom: 20px;
}

.navbarContainer .navLinksFirstGroup a {
  font-size: 15px;
}

.navbarContainer .navLinksFirstGroup ul {
  display: flex;
  justify-content: space-between;
}

.navbarContainer .navLinkSecondGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  padding-left: 100px;
}

.navbarContainer .inputGroup {
  display: flex;
}

.navbarContainer .navLinkSecondGroup img {
  width: 13%;
  height: 20%;
}

.navbarContainer .navLinkSecondGroup input {
  border: 1px solid blue;
  border-right: none;
  width: 530px;
  padding: 13px 15px;
}

.navbarContainer .navLinkSecondGroup button {
  border: 1px solid blue;
  border-left: none;
}

.navbarContainer .navLinkSecondGroup ul {
  display: flex;
  font-size: 13px;
}

.navbarContainer .navLinkSecondGroup li {
  border-right: 1px solid gray;
  margin: 8px;
  padding-right: 7px;
  height: 20px;
}

.navbarContainer .navLinkSecondGroup li:last-of-type {
  border-right: none;
  margin-top: -1px;
}

.navbarContainer .navLinkThirdGroup {
  background-color: #0073a6;
  padding: 12px;
  padding-left: 50px;
  font-size: 15px;
  position: relative;
}

.navbarContainer .navLinkThirdGroup ul {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.navbarContainer .navLinkThirdGroup a {
  color: #fff;
  font-weight: 500;
}

.navbarContainer .navSecondGroup {
  background-color: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
  padding: 20px;
  padding-top: 10px;
}

.navbarContainer .flex {
  display: flex;
}

.navbarContainer .flex p {
  font-size: 12px;
  padding-bottom: 7px;
}

.navbarContainer .secGroupFlex {
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding: 10px;
}

.navbarContainer .secGroupFlex h4 {
  font-size: 12px;
}

.navbarContainer .navSecondGroupLink ul {
  display: flex;
}

.navbarContainer .navSecondGroupLink a {
  color: #0060a9;
  font-size: 14px;
}

.navbarContainer .navSecondGroup p:nth-child(2) {
  color: #db4e81;
  font-size: 12px;
  padding-left: 5px;
}

.navbarContainer .search {
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}

.navbarContainer .cart {
  font-size: 20px;
  padding: 5px;
}

.navbarContainer .location {
  padding-right: 4px;
}

.navbarContainer .delivery {
  padding-left: 8px;
}

.navbarContainer .delivery span {
  padding-right: 4px;
}

.navbarContainer .dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: 0.5s;
}

.navbarContainer .dropdown:hover .dropdown-content {
  display: block;
}

.navbarContainer .column {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  height: auto;
  margin-left: 40px;
}

.navbarContainer .column h6 {
  font-size: 13px;
  font-weight: normal;
  float: none;
  color: gray;
  padding: 2px;
  line-height: 1.4;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.navbarContainer .column h6:hover {
  color: black;
  font-weight: 500;
}

.dropdown2 {
  float: right;
  overflow: hidden;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 0.5s;
}

.dropdown2:hover .dropdown-content2 {
  display: block;
}

.column2 {
  width: 14%;
  text-wrap: nowrap;
  padding: 10px;
  background-color: #fff;
  height: 360px;
  margin-left: 1130px;
}

.column2 h6 {
  font-size: 16px;
  font-weight: normal;
  width: 100%;
  float: right;
  color: #333;
  padding: 2px;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
}

.column2 a {
  font-size: 16px;
  font-weight: normal;
  float: right;
  color: blue;
  padding: 2px;
  line-height: 1.5;
  text-decoration: none;
  display: block;
  text-align: left;
  cursor: pointer;
  width: 100%;
}

.column2 a:hover {
  color: blue;
  font-weight: 400;
  background-color: #e0e0e0;
}
