.productDetail {
  max-width: 1300px;
  margin: auto;
}

.productDetail a {
  text-decoration: none;
  color: #333;
}

.productDetail a:hover {
  text-decoration: underline;
}

.previewContainer {
  display: flex;
  gap: 20px;
  margin-top: 35px;
}

.productPreviewImageContainer {
  width: 45%;
}

.mainImage {
  width: 100%;
  padding: 20px;
  border: 1px solid #bbbbbb;
}

.mainImage img {
  width: 100%;
  height: 340px;
}

.mainImageSpan {
  margin-left: 490px;
  margin-top: -8px;
  margin-right: -30px;
  align-items: right;
}

.mainImage span {
  color: #939393;
  background-color: #ffffff;
  font-size: 20px;
  padding: 2px 9px;
  border-radius: 50px;
  box-shadow: 0 0 5px 0 #000c;
  cursor: pointer;
}

.mainImageSpan1 {
  margin-bottom: 16px;
}

.miniImages {
  align-items: center;
  padding-top: 20px;
}

.miniImages img {
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.productPreviewText {
  width: 33%;
}

.productPreviewText span:first-of-type {
  font-size: 11px;
}

.ratingSec {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.ratingSec p {
  font-size: 14px;
}

.ratingSec p:first-of-type {
  color: blue;
  font-size: 14px;
  margin-top: -3px;
}

.price {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.productPreviewText h6 {
  font-size: 18px;
  font-weight: 400;
  color: #3d3d3d;
}

.productPreviewText small:last-of-type {
  font-size: 14px;
  color: #939393;
  padding-top: 7px;
}

.productPreviewText ul {
  font-size: 15px;
  color: #5e5e5e;
}

.productPreviewTextTwo {
  width: 25%;
}

.print {
  margin-left: 200px;
  display: flex;
  justify-content: space-between;
  width: 32%;
  color: blue;
  font-size: 15px;
}

.deliverySec {
  border: 1px solid forestgreen;
  padding: 20px;
}

.delivery1 {
  margin-bottom: 10px;
  border: 1px solid #333;
}

.deliverySec p {
  font-size: 15px;
  color: #5e5e5e;
}

.deliverySec Button {
  background-color: #008000;
  color: #ffffff;
  border: none;
  width: 100%;
}

.deliverySec Button:hover {
  background-color: #0a740a;
  color: #ffffff;
  width: 100%;
}

.addbtn {
  border: 1px solid blue;
  width: 100%;
  background-color: #ffffff !important;
  margin-top: 5px;
  color: blue !important;
  font-weight: normal;
  border-radius: 0 !important;
}

.stickyNav {
  max-width: 1300px;
  margin: auto;
  display: flex;
  padding-left: 20px;
  padding-right: 40px;
  padding-bottom: 20px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: #ffffff;
  /* position: fixed; */
  /* top: 50px; */
  border-bottom: 1px solid #bbbbbb;

  position: sticky;
  z-index: 99;
  /*top: 0;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.stickyNavSec1 {
  display: flex;
  width: 60%;
  text-wrap: nowrap;
}

.stickyNavSec1 img {
  width: 60%;
}

.stickyNavSec1 strong {
  font-weight: 400;
  font-size: 23px;
}

.stickyNavSec1 p:first-of-type {
  font-weight: 400;
  font-size: 13px;
}

.ratingSec2 {
  display: flex;
  padding-top: 0;
  margin-top: 0;
}

.ratingSec2 p {
  padding-top: 0;
  margin-top: 0px;
  padding-right: 10px;
}

.ratingSec2 p:first-of-type {
  color: #0060a9;
  font-size: 17px;
  margin-top: -2px;
  padding-right: 10px;
}

.stickyNavAddToCartBtn {
  display: flex;
}

.stickyNavAddToCartBtn > span {
  background-color: #eaeaea;
  color: #0060a9;
  padding: 2px 8px;
  border: 1px solid #bbbbbb;
  font-size: 20px;
  cursor: pointer;
}

.stickyNavAddToCartBtn span:nth-child(1) {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.stickyNavAddToCartBtn span:nth-child(2) {
  color: gray;
  background-color: #fafafa;
  border-left: none;
  border-right: none;
  cursor: auto;
}

.stickyNavAddToCartBtn span:nth-child(3) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.stickyNavAddToCartBtn button {
  border-radius: 3px;
  border: none;
  margin-left: 5px;
  background-color: #3071a9;
  width: 250px;
}

.stickyNavSec2 p {
  text-align: right;
  padding-right: 3px;
  font-weight: 400;
  font-size: 20px;
}

.stickyNavSec2 {
  padding-left: 200px;
}

.fixedSec {
  padding-top: 5px;
  box-shadow: rgb(238, 238, 238) 0px 1px 3px 0px;
  position: sticky;
  z-index: 99;
  top: 0;
  width: 100%;
  background-color: #ffffff;
}

.fixedSec ul {
  align-items: center;
  display: flex;
  gap: 20px;
  text-align: center;
  justify-content: space-between;
  padding-right: 90px;
  cursor: pointer;
}

.fixedSec li {
  list-style-type: none;
  font-size: 12px;
  padding: 5px;
  padding-right: 20px;
  /* padding-left: 170px; */
  font-weight: normal;
}

.fixedSec li:first-of-type {
  margin-left: 20px;
  padding-left: 20px;
  font-weight: 500;
  border-bottom: 2px solid #0060a9;
  border-width: 100%;
}

.click {
  font-weight: 500;
  border-bottom: 2px solid #0060a9;
  border-width: 100%;
}

.aboutSecOneContainer {
  display: flex;
  justify-content: space-between;
}

.textContainer {
  width: 100%;
}

.productDetailsSub {
  border-bottom: 10px solid #bfbfbf;
  color: #333333;
}

.productDetailsSub small {
  font-weight: 600;
  color: #5e5e5e;
  line-height: 3;
  font-size: 13px;
}

.productDetailsSub h4:last-of-type {
  padding-top: 15px;
}

.videoContainer p {
  font-size: 15px;
}

.viewMoreDetails {
  padding-top: 50px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 5px;
}

.viewMoreDetails h4 {
  font-size: 18px;
}

.viewMoreDetails button {
  background-color: #eaeaea;
  color: #0060a9;
  border: none;
  padding: 5px 10px;
  margin-bottom: 20px;
  margin-left: 300px;
  width: 250px;
}

.viewMoreDetails button:hover {
  background-color: #e1dada;
}

.specifications {
  border-bottom: 1px solid #d9d9d9;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 18px;
}

.specifications h4 {
  font-size: 18px;
  padding-bottom: 15px;
}

.specificationFirstRow {
  display: flex;
  background-color: #eeeeee;
  justify-content: space-between;
  padding: 10px;
}

.specificationFirstRow div:last-of-type {
  padding-right: 600px;
}

.specificationSecondRow {
  display: flex;
  background-color: #fafafa;
  justify-content: space-between;
  padding: 10px;
}

.specificationSecondRow div:last-of-type {
  padding-right: 640px;
}

.shippingAndReturns h4 {
  font-size: 18px;
  padding-bottom: 15px;
}

.shippingAndReturns p {
  font-size: 15px;
  line-height: 3;
}

.aboutSecOneContainer {
  padding-bottom: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.imgContainer {
  width: 30%;
  margin-left: 120px;
}

.imgContainer h3 {
  text-align: center;
  color: #515151;
  padding-bottom: 5px;
  padding-top: 10px;
  font-size: 20px;
}

.imgContainer div {
  width: 100%;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #eeeeee;
}

.imgContainer div:last-of-type {
  border-bottom: none;
}

.imgContainer {
  padding-left: 50px;
}

.imgContainer small {
  padding-left: 5px;
}

.imgContainer a {
  font-size: 15px;
  color: #0060a9;
  text-decoration: none;
  text-decoration: none;
  border-bottom: 1px dotted #3071a9;
}

.imgContainer a:hover {
  text-decoration: none;
  border-bottom: 1px solid #3071a9;
}

.reviewsContainer div {
  display: flex;
  width: 50%;
}

.reviewsContainer div p {
  padding-left: 10px;
  font-size: 18px;
}

.reviewsContainer div p:nth-child(2) {
  padding-right: 10px;
}

.reviewsContainer div p:first-of-type {
  color: #0060a9;
}

.reviewsContainer div p:nth-child(3) {
  font-weight: normal;
  color: #676565;
}

.reviewsContainer hr {
  color: #676565;
  width: 100%;
  margin-bottom: 5px;
}

.reviewSearch {
  color: #ffffff;
  font-weight: 700;
  width: 20%;
  border-radius: 0 !important;
}

.reviewButton {
  background-color: #787878 !important;
  width: 15%;
  border-radius: 0 !important;
}

.reviewButton:hover {
  background-color: #6b6969 !important;
}

.reviewSearch {
  margin-top: 5px;
}

.reviewButtonSec {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
}

.reviewButtonSec Button {
  background-color: #3473aa !important;
  border-radius: 3px !important;
}

.ratingSnapshot {
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.ratingSnapshot div:last-of-type p:last-of-type span:nth-child(1) {
  color: #3473aa;
  padding-left: 15px;
  padding-right: 50px;
}

.ratingSnapshot div:first-of-type div {
  display: flex;
  justify-content: space-between;
  width: 600px;
}

.ratingSnapshot div:first-of-type div p {
  display: flex;
  margin-right: 10px;
}

.ratingSnapshot div:first-of-type div div {
  margin-left: 10px;
}

.histogramSpan {
  background-color: #c9c9c9;
  width: 100%;
  height: 22px;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.histogram {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #2a7ab7;
  padding-right: 240px;
}

.histogram2 {
  background-color: #c9c9c9;
}

.ratingSnapshot .histogram3 {
  padding-right: 35px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #2a7ab7;
}

.ratingSnapshot .histogram4 {
  padding-right: 20px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #2a7ab7;
}

.ratingSnapshot .histogram5 {
  padding-right: 8px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #2a7ab7;
}

.ratingSnapshot .histogram6 {
  padding-right: 13px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #2a7ab7;
}
