.shop {
  max-width: 1300px;
  margin: auto;
  padding: 8px;
}

.shop a {
  text-decoration: none;
  font-size: 13px;
}

.shop a:hover {
  text-decoration: underline;
}

.shop a {
  text-decoration: none;
  font-size: 13px;
}

.shop a:hover {
  text-decoration: underline;
}

.bbyHero {
  width: 100%;
}

.bbyHero img {
  width: 100%;
}

.cardSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  cursor: pointer;
}

.cardSection > div p {
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;
}

.cardSection > div:hover p {
  text-decoration: underline;
}

.cardSection img:hover {
  margin-top: -5px;
}

.sort {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #bbbbbb;
}

.sort select {
  width: 650px;
  padding: 8px;
  border: 1px solid #bbbbbb;
  margin-bottom: 10px;
  font-size: 14px;
  border-radius: 5px;
}

.sort select option {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
}

.sortBtn {
  display: flex;
}

.sortBtn button {
  display: flex;
  font-size: 15px;
  background-color: #fafafa;
  color: #0060a9;
  padding: 10px;
  border: 1px solid #bbbbbb;
  cursor: pointer;
  margin: 5px;
  margin-top: 10px;
}

.sortBtn button span {
  padding-left: 20px;
  cursor: pointer;
}

.sortBtn button span:first-of-type {
  padding-left: 30px;
}

.toggle {
  display: flex;
  justify-content: space-between;
}

.toggle p {
  font-size: 20px;
  margin-right: 15px;
  color: #bbbbbb;
  font-size: 25px;
  cursor: pointer;
}

.IoGridSharp {
  border: 1px solid #bbbbbb;
  padding: 1px;
}

.toggle h6 {
  font-size: 14px;
  padding-left: 5px;
  padding-top: 15px;
  font-weight: normal;
}

.cardContainer {
  margin-bottom: 50px;
}

.cardsec {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
  border-bottom: 1px solid #bbbbbb;
}

.cardContent {
  border: none !important;
  width: 20%;
  margin: auto;
  margin-bottom: 20px;
}

.cardsec a {
  text-decoration: none;
  font-size: 13px;
}

.cardsec a:hover {
  text-decoration: underline;
}

.cardFooter {
  display: flex;
}

.cardFooter > span {
  background-color: #eaeaea;
  color: #0060a9;
  padding: 2px 8px;
  border: 1px solid #bbbbbb;
  font-size: 20px;
}

.cardFooter span:nth-child(2) {
  color: gray;
  background-color: #fafafa;
  border-left: none;
  border-right: none;
}

.cardFooter button {
  border-radius: 0;
  border: none;
  margin-left: 5px;
  background-color: #3071a9;
  width: 100%;
}

.cardSecFooter {
  border-bottom: 1px solid #bbbbbb;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
}

.cardFooterPagination {
  padding-left: 600px;
  display: flex;
}

.cardFooterPagination p {
  padding-left: 5px;
  margin-left: 10px;
  margin-bottom: 0;
  padding-bottom: 3px;
  padding-top: 3px;
  color: #3071a9;
  font-size: 17px;
  cursor: pointer;
}

.cardFooterPagination p:first-of-type {
  background-color: #3071a9;
  color: #fafafa;
  border-radius: 4px;
  padding-right: 8px;
  padding-left: 8px;
}

.cardSecFooter a {
  text-decoration: none;
}

.cardSecFooter a:hover {
  text-decoration: underline;
}

.moreAbout {
  max-width: 1300px;
  margin-bottom: 50px;
}

.moreAbout h3 {
  text-align: center;
  padding-bottom: 20px;
  font-weight: 400;
}

.moreAbout p {
  font-size: 15px;
}

.moreAbout a {
  text-decoration: none;
  border-bottom: 1px dotted #3071a9;
  font-size: 15px;
}

.moreAbout a:hover {
  border-bottom: 1px solid #3071a9;
  /* text-decoration: underline; */
}
