.signUp {
  max-width: 420px;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 70px;
}

.signInForm {
  padding: 25px;
  border: 1px solid rgb(198, 198, 198);
}

.signUp h1 {
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 40px;
  color: #333333;
}

.signUp form input {
  padding: 10px 15px;
  width: 90%;
  border: 1px solid black;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 8px;
}

.signUp form input:first-of-type {
  margin-bottom: 30px;
}

.signUp form input[type="checkbox"] {
  padding: 0px;
  width: 5%;
  margin-top: 10px;
  margin-bottom: 0px;
}

.signUp form a {
  font-size: 12px;
  border-bottom: 1px dotted blue;
  text-decoration: none;
  color: blue;
  margin-left: 25px;
}

.signUp form a:hover {
  border-bottom: 1px solid blue;
}

.signUp .checkbox {
  font-size: 13px;
}

.signUp form p {
  font-size: 12px;
  padding-bottom: 10px;
}

.signUp button {
  width: 100%;
  background-color: #eaeaea;
  color: #333;
  padding: 15px;
  text-align: center;
  border: none;
  cursor: pointer;
}

.signUp button:hover {
  background-color: #c6c6c6;
}

.signUp form button {
  width: 100%;
  background-color: #3071a9;
  color: #fff;
  padding: 15px;
  text-align: center;
  margin-bottom: 30px;
}

.signUp form button:hover {
  background-color: #297ac0;
}

/* button a {
  color: #fff;
  text-decoration: none;
} */

.signUp form {
  border-bottom: 1px solid rgb(205, 205, 205);
  margin-bottom: 30px;
}

.signUp h3 {
  padding-bottom: 20px;
  font-weight: normal;
}

.error {
  color: red;
  font-size: 12px;
  margin: 0;
  padding: 0;
  margin-top: -10px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
